<h1>Add a Contact</h1>

<form action = "add_contact" method = "post">
  First name: <input type="text" name="first_name"><br>
  Last name: <input type="text" name="last_name"><br>
  Phone Number: <input type="text" name="phone_number"><br>
  <input type="submit" value="Submit">
</form>

<br>
Click <a href = '/'>here</a> to go home.
